<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecomapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcomApplication"
        tools:replace="android:theme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDNI_ZWPqvdS6r6gPVO50I4TlYkfkZdXh8" />
        <activity
            android:name=".activities.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SellerOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShowProductCategory"
            android:exported="false" />
        <activity
            android:name=".activities.MerchantActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TestMapDis"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EcomApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DetailActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.OrderDetailActivity" />
        <activity android:name=".activities.ZaloPayActivity" />
        <activity android:name=".activities.MomoActivity" />
        <activity android:name=".activities.CheckoutActitvity" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.ShowAllProductsActivity" />
        <activity android:name=".activities.ShowAllCategoryActivity" />
        <activity android:name=".activities.SellerActivity" />
        <activity android:name=".activities.NewProductActivity" />
    </application>

</manifest>